/* Reseteo de estilos */
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
}

/* Paleta de colores */
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.ibm-plex-sans-thin {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-sans-extralight {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-sans-light {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-sans-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-medium {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-sans-semibold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-bold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-sans-thin-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-sans-extralight-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-sans-light-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-sans-regular-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-sans-medium-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-sans-semibold-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-sans-bold-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.cuerpo {
  background: #252B33;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar {
  background: #252B33;
}
.navbar .nav-link {
  font: Montserrat sans-serif 300 normal 20px;
  color: #EAF27C;
}
.navbar .logo {
  width: 10%;
}

.bienvenida {
  margin-bottom: 10%;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 40px;
  height: fit-content;
  border-radius: 15px;
  background: #212121;
  padding: 2rem 8rem;
}
.bienvenida .foto .imgFoto {
  width: 100%;
}
.bienvenida .info {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.bienvenida .info h2 {
  font: Montserrat sans-serif 300 normal 20px;
  color: #707070;
  font-size: 20px;
}
.bienvenida .info h1 {
  font: Montserrat sans-serif 600 bold;
  color: #EAF27C;
  font-size: 50px;
}
.bienvenida .info p {
  font: ibm plex sans 500 normal;
  color: #F5F5F5;
}
.bienvenida .info .botones {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.bienvenida .info .btn_cv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem;
  gap: 20px;
  width: 80%;
}
.bienvenida .info .btn_cv a {
  text-decoration: none;
  color: #F5F5F5;
}
.bienvenida .info .btn_cv .btnHab {
  background-color: #CA7DF9;
  color: #F5F5F5;
  border-radius: 10px;
}
.bienvenida .info .btn_cv .btnTray {
  background-color: #CA7DF9;
  color: #F5F5F5;
  border-radius: 10px;
}

.habilidades {
  width: 90%;
  color: #EAF27C;
  border-radius: 15px;
  padding: 2rem 8rem;
  background-color: #212121;
}
.habilidades h2 {
  margin-bottom: 2rem;
}
.habilidades .card {
  background: #252B33;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
}
.habilidades .skillsCardsTop {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.habilidades .skillsCardsDown {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.trayectoria {
  width: 90%;
  color: #EAF27C;
  border-radius: 15px;
  background-color: #212121;
  padding: 1rem 4rem;
  margin: 4rem 5rem;
}
.trayectoria h2 {
  margin-bottom: 2rem;
}
.trayectoria .trayCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}
.trayectoria .trayCards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  text-align: center;
  background: none;
}
.trayectoria .trayCards .card img {
  border-radius: 10px;
  width: 70%;
  margin-bottom: none;
}
.trayectoria .trayCards .card h2 {
  font: Montserrat sans-serif 600 bold;
  color: #EAF27C;
}
.trayectoria .trayCards .card h4 {
  font: Montserrat sans-serif 300 normal 20px;
  color: #707070;
  font-size: small;
}
.trayectoria .trayCards .card p {
  font: ibm plex sans 500 normal;
  color: #F5F5F5;
}

.footer {
  background: #212121;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.footer h2 {
  font-size: 15px;
  color: #F5F5F5;
}
.footer .rss {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  width: 80px;
  gap: 10px;
}
.footer .rss h2 {
  font: Montserrat sans-serif 300 normal 20px;
  color: #F5F5F5;
}
.footer .rss li {
  list-style: none;
}
.footer .rss img {
  width: 100%;
}

.carousel {
  width: 70%;
  padding: 1rem 7rem;
}
.carousel img {
  border-radius: 15px;
}

.portafolio {
  margin: 1rem 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portafolio .tituloP {
  font: Montserrat sans-serif 600 bold;
  color: #EAF27C;
}
.portafolio .textoP {
  font: Montserrat sans-serif 300 normal 20px;
  color: #F5F5F5;
}

.botones-porta {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.botones-porta .botones {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.botones-porta .botones button {
  width: 20%;
  border-radius: 100%;
  background: #212121;
  border-color: black;
}
.botones-porta .botones button img {
  width: 100%;
}

.ilustracion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
}
.ilustracion h2 {
  font: Montserrat sans-serif 600 bold;
  color: #EAF27C;
}
.ilustracion .galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem 5rem;
}
.ilustracion .galeria .bloque1 {
  padding: 2rem 0rem;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.ilustracion .galeria .bloque1 img {
  width: 30%;
  border-radius: 15px;
}
.ilustracion .galeria .bloque2 {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.ilustracion .galeria .bloque2 img {
  width: 30%;
  border-radius: 15px;
}

.btnVolver {
  font: ibm plex sans 500 normal;
  color: #212121;
  background: #EAF27C;
  border-radius: 5px;
  width: 15%;
  margin: 2rem 0rem;
}
.btnVolver a {
  text-decoration: none;
  color: #212121;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
}
.socialMedia h2 {
  font: Montserrat sans-serif 600 bold;
  color: #EAF27C;
}
.socialMedia .galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem 5rem;
}
.socialMedia .galeria .bloque1 {
  padding: 2rem 0rem;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.socialMedia .galeria .bloque1 img {
  width: 30%;
  border-radius: 15px;
}
.socialMedia .galeria .bloque2 {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.socialMedia .galeria .bloque2 img {
  width: 30%;
  border-radius: 15px;
}

.logofolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
}
.logofolio h2 {
  font: Montserrat sans-serif 600 bold;
  color: #EAF27C;
}
.logofolio .galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem 5rem;
}
.logofolio .galeria .bloque1 {
  padding: 2rem 0rem;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.logofolio .galeria .bloque1 img {
  width: 30%;
  border-radius: 15px;
}
.logofolio .galeria .bloque2 {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.logofolio .galeria .bloque2 img {
  width: 30%;
  border-radius: 15px;
}

/*# sourceMappingURL=main.css.map */
