@import "./reset";
@import "./palette";
@import "./fonts";

#emojiSaludo {
    font-size: 30px;
}

#emojiFuego {
    font-size: 20px;
}

#emojiMusculo {
    font-size: 30px;
}
.cuerpo {
    background: $azul;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar2 {
    
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    background: transparent;

    gap: 1rem;

    margin: 2rem 0rem;
    

    .iconLogo {
        grid-column: 1/2;
        width: 30%;
    }
    .home {
        background-color: #212121;
        grid-column: 3/4;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        letter-spacing: 3px;
        border-radius: 40px;
        text-decoration: none;
        color: $verde;
    }
    .portfolio {
        background-color: #212121;
        grid-column: 4/5;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        letter-spacing: 3px;
        border-radius: 40px;
        text-decoration: none;
        color: $verde;
    }   
    .whatsapp {
        background-color: #25D366;
        grid-column: 5/6;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        letter-spacing: 3px;
        border-radius: 40px;
        border-radius: 40px;
        text-decoration: none;
        color: $azul;
    }  
    
}



.bienvenida {

  
    margin-bottom: 10px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    border-radius: 15px;
   
    padding: 0rem 2rem;
    
        .imgFoto {
            width: 30%;
            margin: 20px;
        }

        .info {
            line-height: 25px;
            display: flex;
            flex-direction: column;
            align-items: start;
                h2 {
                    font: $subtitulo;
                    color: $gris;
                    font-size: 20px;
                }
                h1 {
                    font: $titulo;
                    color: $verde;
                    font-size: 50px;
                    font-weight: 800;
                }
                p {
                    font: $parrafo;
                    color: $blanco;
                    text-align: left;
                    font-weight: 600;
                }
                .botones {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }
                .btn_cv {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 2rem;
                    gap: 20px;
                    width: 80%;
                    a {
                        text-decoration: none;
                        color: $blanco;
                    }

                    .btnHab {
                        background-color: $morado;
                        color: $blanco;
                        border-radius: 10px;
                        
                        
                    }
                    .btnTray {
                        background-color: $morado;
                        color: $blanco;                        
                        border-radius: 10px;
                        
                    }
                   

                }
        }

}
        

.subMenu {
    width: 70%;
    h2 {
        color: $blanco;
    }
    
    padding: 0rem 3rem;
    border-radius: 20px;
    margin-top: 1rem;

    h2{
        font: $titulo;
        font-size: 40px;
        font-weight: 800;
        text-align: center;
    }
    .subMenuOps {
        margin: 2rem 0rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 25px;
        
        button {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            border-radius: 15px;
            
            font-size: 25px;
            padding: 30px 30px;
            line-height: 40px;
            font: $subtitulo;
            font-weight: 800;
            background: #212121;
            a {
                color: $verde;
                text-decoration: none;
            }
        }

        .ver {
            width: 100%;
            height: 100px;
            grid-column: 1/3;
            
            
        }
        .cono{
            width: 100%;
            height: 100px;
            grid-column: 3/5;
            
        }
        .cot{
            width: 100%;
            height: 100px;
            grid-column: 1/3;
            background: #25D366;
            a {
                color: $azul;
            }
        }
        .exp{
            width: 100%;
            height: 100px;
            grid-column: 3/5;
            
        }

        
    }
}


.ultiActual {
    width: 100%;

    display: flex;
    flex-direction: row;

    .info {

        width: 30%;

        margin: 40px 80px;

        position: absolute;

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        p {
            font: $parrafo;
            color: $blanco;
            font-weight: 600;

        }
        h3 {
            font: $subtitulo;
            font-weight: 800;
            color: $verde;
            font-size: 50px;
        }
    }
    .imgBotella {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;

        img {
            width: 100%;
            
        }
    }
    
    
}


.top {
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    h3 {
        font-size: 15px;
        font-weight: 700;
        font: $subtitulo;
        color: $blanco;
    }
    h2 {
        font-size: 40px;
        font-weight: 800;
        font: $titulo;
        color: $verde;
    }
}
.menu {
    gap: 40px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    button {
        width: 400px;
        background: $verde;
        border-radius: 15px;
        a {
            font: $subtitulo;
            font-size: 20px;
            font-weight: 700;
            color: #212121;
            text-decoration: none;
        }
    }
}

/*
.habilidades {
    width: 90%;
    color: $verde;
    
    border-radius: 15px;
    

    

    background-color: #212121;

    h2 {
        margin-bottom: 2rem;
    }
    
    .card {
        background: $azul;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: $blanco;
    }

    .skillsCardsTop {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .skillsCardsDown {
        display: flex;
        flex-direction: row;
        gap: 20px;

        
    }
}

.trayectoria {
    
    width: 90%;
    color: $verde;

    border-radius: 15px;

    background-color: #212121;
    padding: 1rem 4rem;
    margin: 4rem 5rem;

    h2 {
        margin-bottom: 2rem;
    }

    .trayCards {
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
        text-align: center;
       

        background: none;
        img {
            border-radius: 10px;
            width: 70%;
            margin-bottom: none;
        }
        h2 {
            font: $titulo;
            color: $verde;
        }
        h4 {
            font: $subtitulo;
            color: $gris;
            font-size: small;
        }
        p {
            font: $parrafo;
            color: $blanco;
        }
    }

    }
}

*/
.footer {
    background: #212121;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   

    padding: 2rem;

   
    h2 {
        font-size: 15px;
        color: $blanco;
    }

    .rss {


        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        width: 80px;
        gap: 10px;
        
        h2 {
            font: $subtitulo;
            color: $blanco;
            
        }
        
        li {
        list-style: none;
        }
        img {
            width: 100%;
        }
    }
}
    
/*
.carousel {
    width: 70%;
    padding: 1rem 7rem;
    img {
        border-radius: 15px;
    }
}


.portafolio {
    margin: 1rem 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    .tituloP {
        font: $titulo;
        color: $verde;
    }
    .textoP {
        font: $subtitulo;
        color: $blanco;
    }
}

.botones-porta {

   margin-bottom: 2rem;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

    .botones {
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        
        

        button {
            width: 20%;
            border-radius: 100%;
            background: #212121;
            border-color: black;
            
            img {
                width: 100%;
                
            }
        }
    }

}

.ilustracion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;

    h2{
        font: $titulo;
        color: $verde;
    }
    .galeria{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0rem 5rem;
        

        .bloque1 {
            padding: 2rem 0rem;
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        img {
            width: 30%;
            border-radius: 15px;
        }
                }
        .bloque2 {
            
            width: 70%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 50px;
            img {
                width: 30%;
                border-radius: 15px;
            }
        }
        
    }
}

.btnVolver {
    font: $parrafo;
    color: #212121;
    background: $verde;
    border-radius: 5px;
    width: 15%;
    margin: 2rem 0rem;
    a {
        text-decoration: none;
        color: #212121;
    }
}

.socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;

    h2{
        font: $titulo;
        color: $verde;
    }
    .galeria{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0rem 5rem;
        

        .bloque1 {
            padding: 2rem 0rem;
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        img {
            width: 30%;
            border-radius: 15px;
        }
                }
        .bloque2 {
            
            width: 70%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 50px;
            img {
                width: 30%;
                border-radius: 15px;
            }
        }
        
    }
}

.logofolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;

    h2{
        font: $titulo;
        color: $verde;
    }
    .galeria{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0rem 5rem;
        

        .bloque1 {
            padding: 2rem 0rem;
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        img {
            width: 30%;
            border-radius: 15px;
        }
                }
        .bloque2 {
            
            width: 70%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 50px;
            img {
                width: 30%;
                border-radius: 15px;
            }
        }
        
    }
}
*/

/*.cuerpo {
    .navbarPortafolio {
        width: 120%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        background: transparent;

        gap: 1rem;

        margin: 1rem 0rem;
        .iconLogo {
            grid-column: 2/3;
            width: 30%;
        }
        .home {
            background-color: #212121;
            grid-column: 4/5;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 800;
            letter-spacing: 3px;
            border-radius: 40px;
            text-decoration: none;
            color: $verde;
        }
        .portfolio {
            background-color: #212121;
            grid-column: 5/6;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 800;
            letter-spacing: 3px;
            border-radius: 40px;
            text-decoration: none;
            color: $verde;
        }   
        .whatsapp {
            background-color: #25D366;
            grid-column: 6/7;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 800;
            letter-spacing: 3px;
            border-radius: 40px;
            border-radius: 40px;
            text-decoration: none;
            color: $azul;
        }  
    }
    background: $azul;
    .top {
        background: $azul;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        h3 {
            font-weight: 700;
            line-height: 25px;
            width: 70%;
            font: $subtitulo;
            text-align: center;
            font-size: 15px;
            color: $blanco;
        }
        h2 {
            font-weight: 800;
            font-size: 40px;
            font: $titulo;
            color: $verde;
            span {
                font-size: 25px;
            }
        }
        img {
            width: 100%;
        }
    }
    .menu {
        width: 100%;
        height: auto;
        background: $azul;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        button {
            margin-top: 1rem;
            width: 15%;
            border-radius: 20px;
            background: $verde;
            a {
                text-decoration: none;
                color: $azul;
                font: $subtitulo;
                font-size: 15px;
                font-weight: 700;
            }
        }
    }
}*/